.banner2 {
    background-color:#a5a5a5;
}

.image-section {
    padding: 50px;
}

.image-section img {
    width:20%;
}

.image-section2 {
    text-align:right;
}

.image-section2 img {
    width:10%;
    padding-right:10%;
    padding-bottom:10%;
}